{% import 'huawei/_macros.j2' as hw %}
{% set mode = endpoint.access_mode.value if endpoint.access_mode else 'dot1q' %}
{% set svid = endpoint.vlan_id or circuit.vlan_id %}
#
# Huawei VRP - remove EVPN VXLAN L2VPN  circuit {{ circuit.code }}
#
undo interface {{ hw.l2_ifname(endpoint, mode, svid) }}
#
{{ hw.qos_policy_remove(circuit) }}
interface Nve1
 undo vni {{ circuit.vni }} head-end peer-list protocol bgp
#
undo bridge-domain {{ circuit.vni }}
#
return
