{% import 'huawei/_macros.j2' as hw %}
{% set mode = endpoint.access_mode.value if endpoint.access_mode else 'dot1q' %}
{% set svid = endpoint.vlan_id or circuit.vlan_id %}
{% set cvid = endpoint.inner_vlan_id %}
#
# Huawei VRP (Datacom) - EVPN VXLAN L2VPN  circuit={{ circuit.code }} vni={{ circuit.vni }}
# device={{ device.name }} ac={{ mode }} s-vid={{ svid }}{% if cvid %} ce-vid={{ cvid }}{% endif %}
#
{{ hw.bridge_domain_evpn(circuit) }}
#
{{ hw.l2_subif(endpoint, circuit, mode, svid, cvid) }}
#
{{ hw.nve_vni(circuit) }}
#
return
