{% set mode = endpoint.access_mode.value if endpoint.access_mode else 'dot1q' %}
{% set svid = endpoint.vlan_id or circuit.vlan_id %}
{% set cvid = endpoint.inner_vlan_id %}
{% set subif = svid or 1 %}
#
# Huawei VRP - EVPN VXLAN L3VPN (distributed gateway)  circuit {{ circuit.code }}
# access-mode={{ mode }} s-vid={{ svid }}{% if cvid %} ce-vid={{ cvid }}{% endif %}

#
ip vpn-instance {{ circuit.vrf_name }}
 ipv4-family
  route-distinguisher {{ circuit.route_distinguisher }}
  vpn-target {{ circuit.route_target }} export-extcommunity evpn
  vpn-target {{ circuit.route_target }} import-extcommunity evpn
 vxlan vni {{ circuit.vni }}
#
bridge-domain {{ circuit.vni }}
 vxlan vni {{ circuit.vni }}
 evpn
  route-distinguisher {{ circuit.route_distinguisher }}
  vpn-target {{ circuit.route_target }} both
#
interface Vbdif{{ circuit.vni }}
 ip binding vpn-instance {{ circuit.vrf_name }}
 ip address {{ endpoint.gateway_ip }} 255.255.255.0
 arp distribute-gateway enable
 arp collect host enable
#
interface {{ endpoint.interface_name }}.{{ subif }} mode l2
{% if mode == 'access' %}
 encapsulation untag
{% elif mode == 'qinq' %}
 encapsulation qinq vid {{ svid }} ce-vid {{ cvid }}
{% else %}
 encapsulation dot1q vid {{ svid }}
 rewrite pop single
{% endif %}
 bridge-domain {{ circuit.vni }}
#
return
