{% import 'huawei/_macros.j2' as hw %}
{% set mode = endpoint.access_mode.value if endpoint.access_mode else 'dot1q' %}
{% set svid = endpoint.vlan_id or circuit.vlan_id %}
{% set cvid = endpoint.inner_vlan_id %}
#
# Huawei VRP - EVPN VXLAN L3VPN (distributed gateway)  circuit={{ circuit.code }} vni={{ circuit.vni }}
# device={{ device.name }} vrf={{ circuit.vrf_name }} ac={{ mode }} s-vid={{ svid }}
#
ip vpn-instance {{ circuit.vrf_name }}
 ipv4-family
  route-distinguisher {{ circuit.route_distinguisher }}
  vpn-target {{ circuit.route_target }} export-extcommunity evpn
  vpn-target {{ circuit.route_target }} import-extcommunity evpn
 vxlan vni {{ circuit.vni }}
#
{{ hw.bridge_domain_evpn(circuit) }}
#
interface Vbdif{{ circuit.vni }}
 ip binding vpn-instance {{ circuit.vrf_name }}
 ip address {{ endpoint.gateway_ip }} 255.255.255.0
 arp distribute-gateway enable
 arp collect host enable
#
{{ hw.l2_subif(endpoint, circuit, mode, svid, cvid) }}
#
{{ hw.nve_vni(circuit) }}
#
return
