! ===== GENERIC EVPN-VPWS remove intent =====
! circuit={{ circuit.code }} device={{ device.name }} vni={{ circuit.vni }}
! remove pseudowire / AC {{ endpoint.interface_name }}
! NOTE: generic placeholder - vendor template not found for {{ vendor }}
