{# H3C Comware7 EVPN VXLAN shared fragments #}
{% macro vsi_evpn_header(circuit, l3=false) -%}
vsi {{ circuit.vsi_name }}
 description {{ circuit.name }} (tenant={{ circuit.tenant_id }})
{% if l3 %}
 gateway vsi-interface Vsi-interface{{ circuit.vni }}
{% endif %}
 vxlan {{ circuit.vni }}
 evpn encapsulation vxlan
  route-distinguisher {{ circuit.route_distinguisher }}
  vpn-target {{ circuit.route_target }} import-extcommunity
  vpn-target {{ circuit.route_target }} export-extcommunity
{%- endmacro %}

{% macro service_instance_ac(endpoint, circuit, mode, svid, cvid) -%}
{% set ac_desc = endpoint.interface_description or ('CUST_' ~ circuit.tenant_id ~ '_' ~ circuit.code) %}
 service-instance {{ svid or 1 }}
  description {{ ac_desc }}
{% if mode == 'access' %}
  encapsulation untagged
{% elif mode == 'qinq' %}
  encapsulation s-vid {{ svid }} c-vid {{ cvid }}
{% else %}
  encapsulation s-vid {{ svid }}
{% endif %}
{% if circuit.bandwidth_mbps %}
  # rate-limit per service-instance (CAR), cir unit = kbps
  qos car inbound any cir {{ circuit.bandwidth_mbps * 1000 }} cbs {{ circuit.bandwidth_mbps * 1000 * 25 }}
  qos car outbound any cir {{ circuit.bandwidth_mbps * 1000 }} cbs {{ circuit.bandwidth_mbps * 1000 * 25 }}
{% endif %}
  statistics enable
  xconnect vsi {{ circuit.vsi_name }}
{%- endmacro %}
