{# H3C Comware7 EVPN VXLAN shared fragments #}
{% macro vsi_evpn_header(circuit, l3=false) -%}
vsi {{ circuit.vsi_name }}
 description {% if circuit.tenant %}{{ circuit.tenant.name }}{% else %}{{ circuit.name }}{% endif %} (cid={{ circuit.code }})
 mtu {{ circuit.mtu }}
{% if l3 %}
 gateway vsi-interface Vsi-interface{{ circuit.vni }}
{% endif %}
 vxlan {{ circuit.vni }}
 evpn encapsulation vxlan
  route-distinguisher {{ circuit.route_distinguisher }}
  vpn-target {{ circuit.route_target }} import-extcommunity
  vpn-target {{ circuit.route_target }} export-extcommunity
{%- endmacro %}

{% macro qos_policy_name(circuit) -%}
qp-{{ circuit.code }}
{%- endmacro %}

{% macro qos_policy_objects(circuit) -%}
{% if circuit.bandwidth_mbps %}
# QoS CAR via classifier/behavior/policy (Comware); cir unit = kbps
traffic classifier tc-{{ circuit.code }} operator or
 if-match any
#
traffic behavior tb-{{ circuit.code }}
 car cir {{ circuit.bandwidth_mbps * 1024 }} cbs {{ circuit.bandwidth_mbps * 64000 }} ebs 0 green pass red discard yellow pass
#
qos policy {{ qos_policy_name(circuit) }}
 classifier tc-{{ circuit.code }} behavior tb-{{ circuit.code }}
#
{% endif %}
{%- endmacro %}

{% macro qos_policy_remove(circuit) -%}
{% if circuit.bandwidth_mbps %}
undo qos policy {{ qos_policy_name(circuit) }}
undo traffic behavior tb-{{ circuit.code }}
undo traffic classifier tc-{{ circuit.code }}
#
{% endif %}
{%- endmacro %}

{% macro service_instance_qos_apply(circuit) -%}
{% if circuit.bandwidth_mbps %}
  qos apply policy {{ qos_policy_name(circuit) }} inbound
  qos apply policy {{ qos_policy_name(circuit) }} outbound
{% endif %}
{%- endmacro %}

{% macro service_instance_qos_remove(circuit) -%}
{% if circuit.bandwidth_mbps %}
 undo qos apply policy {{ qos_policy_name(circuit) }} inbound
 undo qos apply policy {{ qos_policy_name(circuit) }} outbound
{% endif %}
{%- endmacro %}

{% macro service_instance_ac(endpoint, circuit, mode, svid, cvid) -%}
 service-instance {{ svid or 1 }}
{% if mode == 'access' %}
  encapsulation untagged
{% elif mode == 'qinq' %}
  encapsulation s-vid {{ svid }} c-vid {{ cvid }}
{% else %}
  encapsulation s-vid {{ svid }}
{% endif %}
  statistics enable
  xconnect vsi {{ circuit.vsi_name }}
{{ service_instance_qos_apply(circuit) }}
{%- endmacro %}
