#
# H3C Comware7 - DCI EVPN VXLAN gateway stitching  circuit {{ circuit.code }}
# role={{ device.role.value }} loopback={{ device.loopback_ip }} asn={{ device.bgp_asn }}
#
l2vpn enable
vsi {{ circuit.vsi_name }}
 vxlan {{ circuit.vni }}
 evpn encapsulation vxlan
  route-distinguisher {{ circuit.route_distinguisher }}
  vpn-target {{ circuit.route_target }} import-extcommunity
  vpn-target {{ circuit.route_target }} export-extcommunity
#
bgp {{ device.bgp_asn }}
 address-family l2vpn evpn
  # DCI gateway: re-originate type-2/type-5 routes between fabrics
  reflect between-clients
  peer DCI-PEERS enable
  peer DCI-PEERS reflect-client
#
return
