{% import 'h3c/_macros.j2' as h3c %}
{% set mode = endpoint.access_mode.value if endpoint.access_mode else 'dot1q' %}
{% set svid = endpoint.vlan_id or circuit.vlan_id %}
{% set cvid = endpoint.inner_vlan_id %}
#
# H3C Comware7 - EVPN VXLAN L2VPN (E-LAN)  circuit={{ circuit.code }} vni={{ circuit.vni }}
# device={{ device.name }} ac={{ mode }} s-vid={{ svid }}{% if cvid %} c-vid={{ cvid }}{% endif %}
#
l2vpn enable
#
{{ h3c.vsi_evpn_header(circuit, vsi_description, l3=false) }}
#
interface {{ endpoint.interface_name }}
 port link-mode bridge
 description {{ ac_description_default }}
 mtu {{ circuit.mtu }}
{{ h3c.service_instance_ac(endpoint, circuit, mode, svid, cvid, ac_description_default) }}
#
return
