{% set mode = endpoint.access_mode.value if endpoint.access_mode else 'dot1q' %}
{% set svid = endpoint.vlan_id or circuit.vlan_id %}
{% set cvid = endpoint.inner_vlan_id %}
#
# H3C Comware7 - EVPN VXLAN L2VPN (E-LAN)  circuit {{ circuit.code }}
# access-mode={{ mode }} s-vid={{ svid }}{% if cvid %} c-vid={{ cvid }}{% endif %}

#
l2vpn enable
#
vsi vsi_{{ circuit.code }}
 description {{ circuit.name }} ({{ circuit.tenant_id }})
 vxlan {{ circuit.vni }}
 evpn encapsulation vxlan
  route-distinguisher {{ circuit.route_distinguisher }}
  vpn-target {{ circuit.route_target }} import-extcommunity
  vpn-target {{ circuit.route_target }} export-extcommunity
#
interface {{ endpoint.interface_name }}
 port link-mode bridge
 description CUST_{{ circuit.tenant_id }}_{{ circuit.code }}
 service-instance {{ svid or 1 }}
{% if mode == 'access' %}
  encapsulation untagged
{% elif mode == 'qinq' %}
  encapsulation s-vid {{ svid }} c-vid {{ cvid }}
{% else %}
  encapsulation s-vid {{ svid }}
{% endif %}
{% if circuit.bandwidth_mbps %}
  # rate-limit per service-instance (CAR), cir unit = kbps
  qos car inbound any cir {{ circuit.bandwidth_mbps * 1000 }} cbs {{ circuit.bandwidth_mbps * 1000 * 25 }}
  qos car outbound any cir {{ circuit.bandwidth_mbps * 1000 }} cbs {{ circuit.bandwidth_mbps * 1000 * 25 }}
{% endif %}
  xconnect vsi vsi_{{ circuit.code }}
#
return
