{% set mode = endpoint.access_mode.value if endpoint.access_mode else 'dot1q' %}
{% set svid = endpoint.vlan_id or circuit.vlan_id %}
{% set cvid = endpoint.inner_vlan_id %}
#
# H3C Comware7 - EVPN VXLAN L3VPN (distributed IRB)  circuit {{ circuit.code }}
# access-mode={{ mode }} s-vid={{ svid }}{% if cvid %} c-vid={{ cvid }}{% endif %}

#
ip vpn-instance {{ circuit.vrf_name }}
 route-distinguisher {{ circuit.route_distinguisher }}
 address-family ipv4
  vpn-target {{ circuit.route_target }} import-extcommunity
  vpn-target {{ circuit.route_target }} export-extcommunity
 address-family evpn
  vpn-target {{ circuit.route_target }} import-extcommunity
  vpn-target {{ circuit.route_target }} export-extcommunity
#
l2vpn enable
vsi vsi_{{ circuit.code }}
 vxlan {{ circuit.vni }}
 evpn encapsulation vxlan
  route-distinguisher {{ circuit.route_distinguisher }}
  vpn-target {{ circuit.route_target }} both
#
interface Vsi-interface{{ circuit.vni }}
 ip binding vpn-instance {{ circuit.vrf_name }}
 ip address {{ endpoint.gateway_ip }} 255.255.255.0
 distributed-gateway local
 mac-address evpn-anycast
#
interface {{ endpoint.interface_name }}
 port link-mode bridge
 service-instance {{ svid or 1 }}
{% if mode == 'access' %}
  encapsulation untagged
{% elif mode == 'qinq' %}
  encapsulation s-vid {{ svid }} c-vid {{ cvid }}
{% else %}
  encapsulation s-vid {{ svid }}
{% endif %}
  xconnect vsi vsi_{{ circuit.code }}
#
return
