{% import 'h3c/_macros.j2' as h3c %}
{% set svid = endpoint.vlan_id or circuit.vlan_id %}
#
# H3C Comware7 - remove EVPN VXLAN L3VPN  circuit {{ circuit.code }}
#
{% if partial %}
interface {{ endpoint.interface_name }}
{{ h3c.service_instance_qos_remove(circuit) }}
 undo service-instance {{ circuit.vlan_id or endpoint.vlan_id }}
#
{% else %}
undo interface Vsi-interface{{ circuit.vni }}
interface {{ endpoint.interface_name }}
{{ h3c.service_instance_qos_remove(circuit) }}
 undo service-instance {{ circuit.vlan_id or endpoint.vlan_id }}
#
{{ h3c.qos_policy_remove(circuit) }}
undo vsi {{ circuit.vsi_name }}
undo ip vpn-instance {{ circuit.vrf_name }}
#
{% endif %}
return
