{% import 'cisco/_macros.j2' as xr %}
{% set mode = endpoint.access_mode.value if endpoint.access_mode else 'dot1q' %}
{% set svid = endpoint.vlan_id or circuit.vlan_id %}
{% set cvid = endpoint.inner_vlan_id %}
! Cisco IOS-XR - EVPN-MPLS L2 (E-LAN)  circuit={{ circuit.code }} evi={{ circuit.vni }}
! device={{ device.name }} lo0={{ device.loopback_ip }} ac={{ mode }} s-vid={{ svid }}{% if cvid %} c-vid={{ cvid }}{% endif %}
! Ref: IOS-XR l2vpn bridge-domain + evpn evi (RFC 7432)

{{ xr.qos_maps(circuit) }}
interface {{ endpoint.interface_name }}
 description {% if circuit.tenant %}{{ circuit.tenant.name }}{% else %}CUST{{ circuit.tenant_id }}{% endif %}:{{ circuit.code }}
 mtu {{ circuit.mtu }}
{% if circuit.bandwidth_mbps %}
 service-policy input CUST_{{ circuit.code }}_IN
 service-policy output CUST_{{ circuit.code }}_OUT
{% endif %}
 l2transport
{{ xr.l2_encap(mode, svid, cvid) }}
!
l2vpn
 bridge group BG_{{ circuit.vni }}
  bridge-domain BD_{{ circuit.vni }}
   interface {{ endpoint.interface_name }}
   evi {{ circuit.vni }}
!
{{ xr.evpn_evi(circuit) }}
{% if circuit.esi %}
 interface {{ endpoint.interface_name }}
  ethernet-segment
   identifier type 0 {{ circuit.esi }}
!
{% endif %}
