{% import 'cisco/_macros.j2' as xr %}
{% set mode = endpoint.access_mode.value if endpoint.access_mode else 'dot1q' %}
{% set svid = endpoint.vlan_id or circuit.vlan_id %}
{% set cvid = endpoint.inner_vlan_id %}
! Cisco IOS-XR - EVPN-MPLS L3 (IRB / Type-5)  circuit={{ circuit.code }} vrf={{ circuit.vrf_name }}
! device={{ device.name }} ac={{ mode }} s-vid={{ svid }}

vrf {{ circuit.vrf_name }}
 address-family ipv4 unicast
  import route-target {{ circuit.route_target }}
  export route-target {{ circuit.route_target }}
!
interface BVI{{ circuit.vni }}
 vrf {{ circuit.vrf_name }}
 ipv4 address {{ endpoint.gateway_ip }} 255.255.255.0
 mtu {{ circuit.mtu }}
!
interface {{ endpoint.interface_name }}
 description CUST_{{ circuit.tenant_id }}_{{ circuit.code }}
 mtu {{ circuit.mtu }}
 l2transport
{{ xr.l2_encap(mode, svid, cvid) }}
!
l2vpn
 bridge group BG_{{ circuit.vni }}
  bridge-domain BD_{{ circuit.vni }}
   interface {{ endpoint.interface_name }}
   routed interface BVI{{ circuit.vni }}
   evi {{ circuit.vni }}
!
router bgp {{ device.bgp_asn }}
 vrf {{ circuit.vrf_name }}
  rd {{ circuit.route_distinguisher }}
  address-family ipv4 unicast
   redistribute connected
  !
  address-family l2vpn evpn
   advertise ipv4 unicast
  !
 !
!
{{ xr.evpn_evi(circuit) }}
  advertise-ipv4
!
