! Cisco IOS-XR - remove EVPN-MPLS L3  circuit={{ circuit.code }}
no l2vpn bridge group BG_{{ circuit.vni }}
no evpn evi {{ circuit.vni }}
no interface {{ endpoint.interface_name }} l2transport
no interface BVI{{ circuit.vni }}
no vrf {{ circuit.vrf_name }}
