{% import 'juniper/_macros.j2' as jun %}
## Juniper Junos - remove DCI EVPN  circuit={{ circuit.code }}
delete routing-instances {{ jun.evi_name(circuit) }} protocols evpn interconnect
delete protocols bgp group DCI-EVPN
