{% import 'juniper/_macros.j2' as jun %}
{% set mode = endpoint.access_mode.value if endpoint.access_mode else 'dot1q' %}
{% set svid = endpoint.vlan_id or circuit.vlan_id %}
{% set cvid = endpoint.inner_vlan_id %}
{% set ifl = jun.l2_ifl(endpoint, mode, svid) %}
## Juniper Junos - EVPN-MPLS L2 (E-LAN, vlan-based)  circuit={{ circuit.code }} evi={{ circuit.vni }}
## device={{ device.name }} lo0={{ device.loopback_ip }} ac={{ mode }} s-vid={{ svid }}{% if cvid %} c-vid={{ cvid }}{% endif %}
## Ref: Junos EVPN routing instance (instance-type evpn, vlan-bridge AC)

{{ jun.l2_ac(endpoint, circuit, mode, svid, cvid) }}
{{ jun.evpn_l2_instance(circuit, ifl, mode, svid) }}
