! Arista EOS - EVPN-MPLS L2 over Segment Routing  circuit {{ circuit.code }}
! device {{ device.name }} lo0={{ device.loopback_ip }} node-sid={{ device.sr_node_sid }}
mpls ip
!
router general
   segment-routing mpls
!
vlan {{ endpoint.vlan_id or circuit.vlan_id }}
   name CUST_{{ circuit.code }}
!
interface {{ endpoint.interface_name }}
   description CUST_{{ circuit.tenant_id }}_{{ circuit.code }}
   switchport
   switchport access vlan {{ endpoint.vlan_id or circuit.vlan_id }}
   mtu {{ circuit.mtu }}
!
router bgp {{ device.bgp_asn }}
   vlan {{ endpoint.vlan_id or circuit.vlan_id }}
      rd {{ circuit.route_distinguisher }}
      route-target both {{ circuit.route_target }}
      redistribute learned
!
{% if circuit.bandwidth_mbps %}
interface {{ endpoint.interface_name }}
   shape rate {{ circuit.bandwidth_mbps }} mbps
{% endif %}
