{% import 'arista/_macros.j2' as eos %}
{% set mode = endpoint.access_mode.value if endpoint.access_mode else 'dot1q' %}
{% set svid = endpoint.vlan_id or circuit.vlan_id %}
{% set cvid = endpoint.inner_vlan_id %}
! Arista EOS - EVPN-MPLS L2 (vlan-based MAC-VRF)  circuit={{ circuit.code }} vlan={{ svid }}
! device={{ device.name }} lo0={{ device.loopback_ip }} ac={{ mode }} s-vid={{ svid }}{% if cvid %} c-vid={{ cvid }}{% endif %}
! Ref: EOS EVPN vlan service + MPLS encapsulation (RFC 7432)

vlan {{ svid }}
   name CUST_{{ circuit.tenant_id }}_{{ circuit.code }}
!
{{ eos.qos_policies(circuit, svid) }}
interface {{ endpoint.interface_name }}
   description {% if circuit.tenant %}{{ circuit.tenant.name }}{% else %}CUST{{ circuit.tenant_id }}{% endif %}:{{ circuit.code }}
   mtu {{ circuit.mtu }}
{{ eos.l2_switchport(mode, svid, cvid) }}
{% if circuit.bandwidth_mbps %}
   service-policy type qos input CUST_{{ circuit.code }}_IN
   service-policy type qos output CUST_{{ circuit.code }}_OUT
{% endif %}
!
{{ eos.evpn_vlan_bgp(circuit, svid, device) }}
