{% import 'frr/_macros.j2' as frr %}
{% set mode = endpoint.access_mode.value if endpoint.access_mode else 'dot1q' %}
{% set svid = endpoint.vlan_id or circuit.vlan_id %}
! FRRouting - EVPN-VXLAN L2 (E-LAN)  circuit={{ circuit.code }} vni={{ circuit.vni }}
! device={{ device.name }} lo={{ device.loopback_ip }} asn={{ device.bgp_asn }}
! ac={{ mode }} s-vid={{ svid }}
! Ref: FRR EVPN + Linux bridge/vxlan (RFC 8365)

configure terminal
!
{{ frr.bridge_vlan_member(endpoint, mode, svid, circuit) }}
{{ frr.vxlan_if(circuit, device) }}
{{ frr.bgp_evpn_vni(circuit, device) }}
end
